*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


$hex1: #001542;
$hex2: #085454;
$hex3: #7A7A7A;
$hex4: #FFFFFF;
$hex5: #FFB30D;


body{
    background-color: #cac8bbd5;
}
.header{
    width: 80%;
    height: 150px;
    background-color: $hex1;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        margin-left: 40px;
        background-color: $hex5;
        padding: 20px;
        border-radius: 50%;
        
        h2{
            color: $hex4;
            font-size: xx-large;
            font-family: monospace;
            transition: all 0.5s ease-in;
            &:hover{
                transform:rotate(360deg) scale(2, 3);               
            }           
        }
    }
    .nav{
        
        
        ul{
            display: flex;
            column-gap: 70px;
            margin-right: 40px;
            li{
                color: #001542;
                background-color: #FFFFFF;
                padding: 20px 30px;
                border-radius: 20%;
                transition: all 0.5s ease-in;
                &:hover{
                    background-color: $hex5;
                    color: $hex4;

               
                a{
                    font-family: monospace;
                    font-size: large;
                   
                        
                    }
                }
            }
        }
    }
}
.sec{
    width: 80%;
    height: auto;
    background-color: $hex5;
    margin: auto;
    border-style: solid;
    border-color: $hex4;
    
    .art{
        width: 100%;
        height: auto;
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-around;
        column-gap: 100px;
        margin-top: 100px;
        margin-bottom: 100px;
        .box1{
            background-color: $hex1;
            color: $hex4;
            padding: 100px 20px;
            h2{
                margin-bottom: 100px;
                text-align: center;
            }
            p{
                font-size: larger;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .box2{
            background-color: $hex2;
            color: $hex4;
            padding: 100px 20px;
            h2{
                margin-bottom: 100px;
                text-align: center;
            }
            p{
                font-size: larger;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .box3{
            background-color: $hex3;
            color: $hex4;
            padding: 100px 20px;
            h2{
                margin-bottom: 100px;
                text-align: center;
            }
            p{
                font-size: larger;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}
.foot{
    width: 80%;
    height: 200px;
    background-color: $hex1;
    margin: auto;
  
    p{
        padding: 50px;
        text-align: center;
        text-decoration: none;
        color: $hex4;
        font-size: larger;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
    a{
        text-align: center;
        text-decoration: none;
        color: $hex4;
    }
}

